################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/local.settings.json
/bin
/Properties
WeatherStationImages.csproj.user
